{% extends 'backoffice/base back.html' %}
{% block content %}
<style>
    .photo-thumbnail {
        width: 20px;
        height: 20px;
        object-fit: cover; /* Maintient les proportions et évite les distorsions */
        border-radius: 5px; /* Optionnel, pour des coins arrondis */
    } 
    .table-project-n {
        color: blue; /* Exemple de couleur */
        font-weight: bold;
    }
    </style>
    <!-- Static Table Start -->
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <!-- Header Section -->
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Liste des <span class="table-project-n">utilisateurs</span> <span class="table-project-n"></span></h1> 
                            </div>
                        </div>
                            <!-- Content Section -->
                    <div class="sparkline13-graph">
                        <div class="add-product">
                            <a href="{% url 'ajouter_utilisateur' %}">Ajouter un utilisateur</a>
                            
                        </div>
                        <div>
                        </div>

                    <div class="datatable-dashv1-list custom-datatable-overright">
                        <div id="toolbar">
                            <select class="form-control dt-tb">
                                <option value="">Export Basic</option>
                                <option value="all">Export All</option>
                                <option value="selected">Export Selected</option> 
                            </select>
                        </div>
                        <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                            data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-field="Nom" data-editable="true">Nom prénoms</th>
                                    <th data-field="Nomu" data-editable="true">Nom d'utilisateur</th>
                                    <th data-field="Mot" data-editable="true">Mot de passe</th>
                                    <th data-field="Rôle" data-editable="true">Rôle</th>
                                    <th data-field="Derniere" data-editable="true">Derniere connexion</th>
                                    <th data-field="Groupe" data-editable="true">Groupe</th>
                                    <th data-field="action">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for utilisateur in utilisateurs %}
                                <tr> 
                                    <td></td>
                                    <td>{{ utilisateur.first_name }} {{ utilisateur.last_name }}</td>
                                    <td>{{ utilisateur.username }}</td>
                                    <td>{{ utilisateur.telephone }}</td>
                                    <td>{{ utilisateur.get_role_display }}</td>
                                    <td>{{ utilisateur.last_login }}</td>
                                    <td>{{ utilisateur.groupe }}</td>
                                    <td>
                                        <div class="btn-group btn-custom-groups">
                                            <a type="button" class="btn btn-warning btn-xs" href="{% url 'modifier_utilisateur' utilisateur.id %}"><i class="fa fa-pencil" aria-hidden="true"></i>   Modifier</a>
                                            <a type="button" class="btn btn-danger btn-xs"  href="{% url 'supprimer_utilisateur' utilisateur.id %}"><i class="fa fa-trash" aria-hidden="true"></i>   Supprimer</a>
                                            <a type="button" class="btn btn-default btn-xs" href="{% url 'reinitialiser_mot_de_passe' utilisateur.id %}"><i class="fa  fa-refresh" aria-hidden="true"></i>   Réinitialiser le mot de passe</a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
