{% extends 'backoffice/base back.html' %}

{% block content %}
<style>
.photo-thumbnail {
    width: 20px;
    height: 20px;
    object-fit: cover; /* Maintient les proportions et évite les distorsions */
    border-radius: 5px; /* Optionnel, pour des coins arrondis */
}
.table-project-n {
    color: blue; /* Exemple de couleur */
    font-weight: bold;
}
</style>
<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <!-- Header Section -->
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Liste des <span class="table-project-n">Adhérents et Ayant-droits</span></h1>
                        </div>
                    </div>

                    <!-- Content Section -->
                    <div class="sparkline13-graph">
                        <h4></h4>
                            <div class="add-product">
                                
                            </div></br>

                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control dt-tb">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="photo">photo</th>
                                        <th data-field="contrat" data-editable="true">n° contrat</th>
                                        <th data-field="code_matricule" data-editable="true">code_matricule</th>
                                        <th data-field="Nom" data-editable="true">Nom</th>
                                        <th data-field="Prénoms">Prénoms</th>
                                        <th data-field="date_naissance" data-editable="true">date_naissance</th>
                                        <th data-field="sexe" data-editable="true">sexe</th>
                                        <th data-field="age" data-editable="true">Age</th>
                                        <th data-field="sextyp" data-editable="true">Type Filiation</th>
                                        <th data-field="adhesion" data-editable="true">date adhesion</th>
                                        <th data-field="statut">statut</th>
                                        <th data-field="action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mutualiste in mutualistes %}
                            
                                    <tr>
                                        <td></td>
                                        <td>
                                            
                                            <img class="message-avatar" src="{{ mutualiste.photo.url }}" alt="{{ mutualiste.numero_contrat }}" class="photo-thumbnail">
                                        </td>                
                                        <td>{{ mutualiste.numero_contrat }}</td>
                                        <td>{{ mutualiste.code_matricule }}</td>
                                        <td>{{ mutualiste.nom }}</td>
                                        <td>{{ mutualiste.prenom }}</td>
                                        <td>{{ mutualiste.date_naissance }}</td>
                                        <td>{{ mutualiste.sexe }}</td>
                                        <td>{{ mutualiste.age }}</td>
                                        <td>{{ mutualiste.type_filiation }}</td>
                                        <td>{{ mutualiste.date_adhesion }}</td>
                                        <td>
                                            <a href="{% url 'toggle_mutualiste_status' mutualiste.id %}" 
                                               class="btn {% if mutualiste.statut %}btn-success{% else %}btn-danger{% endif %}">
                                                {% if mutualiste.statut %} Actif {% else %} Inactif {% endif %}
                                            </a>
                                        </td>
                                        <td>
                                            <a data-toggle="tooltip" class="pd-setting-ed" title="Modifier" href="{% url 'mutualiste_detail' mutualiste.id %}">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <a data-toggle="tooltip" class="pd-setting-ed" title="Supprimer" href="{% url 'mutualiste_update' mutualiste.id %}">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </td>                                        
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}