{% extends 'backoffice/base back.html' %}

{% block content %}
<style>
.photo-thumbnail {
    width: 20px;
    height: 20px;
    object-fit: cover; /* Maintient les proportions et évite les distorsions */
    border-radius: 5px; /* Optionnel, pour des coins arrondis */
}
.table-project-n {
    color: blue; /* Exemple de couleur */
    font-weight: bold;
}
</style>
<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <!-- Header Section -->
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Formulaire d'importation des<span class="table-project-n"> Médicaments</span></h1>
                        </div>
                    </div>

                    <div>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label for="fichier_excel">Sélectionnez un fichier Excel :</label>
                            <input type="file" name="fichier_excel" accept=".xlsx, .xls">
                            <button type="submit">Importer</button>
                        </form>

                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}                  
