{% extends 'backoffice/base back.html' %}

{% block content %}
<style>
.photo-thumbnail {
    width: 20px;
    height: 20px;
    object-fit: cover; /* Maintient les proportions et évite les distorsions */
    border-radius: 5px; /* Optionnel, pour des coins arrondis */
}
.table-project-n {
    color: blue; /* Exemple de couleur */
    font-weight: bold;
}
</style>
<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <!-- Header Section -->
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Liste des<span class="table-project-n"> Médicaments</span></h1>
                        </div>
                    </div>

                    <!-- Content Section -->
                    <div class="sparkline13-graph">
                    <br>
                            <div class="add-product mb-3">
                                <a href="{% url 'ajouter_medicament' %}" class="btn btn-primary">Ajouter un médicament</a>
                            </div>
                            
                            <div class="d-flex justify-content-between mb-3">
                                <a href="{% url 'importer_medicaments' %}" class="btn btn-success btn-sm">Importer des médicaments</a>
                            </div>
                            
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control dt-tb">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                    data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th data-field="state" data-checkbox="true"></th>
                                            <th data-field="Code">Code</th>
                                            <th data-field="Nom">Nom</th>
                                            <th data-field="Description">Description</th>
                                            <th data-field="DCI">DCI</th>
                                            <th data-field="Molécule">Molécule</th>
                                            <th data-field="Type">Type</th>
                                            <th data-field="Disponible">Disponible</th>
                                            <th data-field="Coût">Coût</th>
                                            <th data-field="Actions">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for medicament in medicaments %}
                                        <tr>
                                            <td></td>
                                            <td>{{ medicament.code }}</td>
                                            <td>{{ medicament.nom }}</td>
                                            <td>{{ medicament.description }}</td>
                                            <td>{{ medicament.dci }}</td>
                                            <td>{{ medicament.molecule }}</td>
                                            <td>{{ medicament.typem }}</td>
                                            <td>{{ medicament.disponible_en_pharmacie }}</td> 
                                            <td>{{ medicament.cout_unitaire }}</td>
                                            <td>
                                                <div class="btn-group btn-custom-groups">
                                                    <!-- Bouton Modifier -->
                                                    <a href="{% url 'modifier_medicament' medicament.id %}" class="btn btn-warning btn-xs"><i class="fa fa-pencil" aria-hidden="true"></i>  Modifier</a>
                                                
                                                    <!-- Bouton pour ouvrir le modal -->
                                                    <a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteModal{{ medicament.id }}">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>  Supprimer
                                                    </a>
                                                </div>
                                            </td>
                                            
                                            <!-- Modal de confirmation pour la suppression -->
                                            <div class="modal fade" id="deleteModal{{ medicament.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ medicament.id }}" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel{{ medicament.id }}">Confirmation de suppression</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Êtes-vous sûr de vouloir supprimer ce médicament ?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                                            <form method="post" action="{% url 'supprimer_medicament' medicament.id %}">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
