{% extends 'backoffice/base back.html' %}
{% block content %}
<style>
    .table-project-n {
        color: blue; /* Exemple de couleur */
        font-weight: bold;
    }
    
    /* Cache les cases à cocher générées par le formset */
    input[type="checkbox"][name$="-DELETE"] {
        display: none;
    }
</style>
    
    <!-- Single pro tab review Start-->
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <h1>Formulaire pour {% if form.instance.pk %}Modifier{% else %}Ajouter{% endif %}  un <span class="table-project-n"> un Médicament</span></h1>
                        <br>

                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> 
                                    <div class="form-group">
                                        {{ form.code.label_tag }} {{ form.code }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.nom.label_tag }} {{ form.nom }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.description.label_tag }} {{ form.description }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.dci.label_tag }} {{ form.dci }}
                                    </div>
                                </div>
                                                                                        
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        {{ form.molecule.label_tag }} {{ form.molecule }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.typem.label_tag }} {{ form.typem }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.regime.label_tag }} {{ form.regime }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.disponible_en_pharmacie.label_tag }} {{ form.disponible_en_pharmacie }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.cout_unitaire.label_tag }} {{ form.cout_unitaire }}
                                    </div>
                                </div>
                            </div> 
                        </div>
                
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="btn-group btn-custom-groups">
                                <button type="submit" class="btn btn-success"><i class="fa fa-check-circle" aria-hidden="true"></i>   Enregistrer</button>
                                <a type="button" class="btn btn-primary" href="{% url 'liste_medicament'%}"><i class="fa fa-reply-all" aria-hidden="true"></i>   Retour à la liste</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
