{% extends 'backoffice/base back.html' %}

{% block content %}
<style>
.photo-thumbnail {
    width: 20px;
    height: 20px;
    object-fit: cover; /* Maintient les proportions et évite les distorsions */
    border-radius: 5px; /* Optionnel, pour des coins arrondis */
} 
.table-project-n {
    color: blue; /* Exemple de couleur */
    font-weight: bold;
}
</style>
<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <!-- Header Section -->
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h2>Liste des paiements pour <span class="table-project-n">{{ paiements.cotisation__groupe}} {{ paiements.cotisation.groupe.description }}</span></h2>
                        </div>
                    </div>

                    <!-- Content Section -->
                    <div class="sparkline13-graph">
                        
                            <div class="add-product">
                                <a href="{% url 'liste_groupes' %}">Ajouter un paiement</a>
                            </div>
                    
                            <div class="datatable-dashv1-list custom-datatable-overright">
                                <div id="toolbar">
                                    <select class="form-control dt-tb">
                                        <option value="">Export Basic</option>
                                        <option value="all">Export All</option>
                                        <option value="selected">Export Selected</option>
                                    </select>
                                </div>
                                <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                    data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                    <thead>
                                        <tr>
                                            <th data-field="state" data-checkbox="true"></th>
                                            <th data-field="Montant" data-editable="true">Montant</th>
                                            <th data-field="Date" data-editable="true">Date Paiement</th>
                                            <th data-field="Mode" data-editable="true">Mode</th>
                                            <th data-field="Référence" data-editable="true">Référence</th>
                                            <th data-field="Ficher" data-editable="true">fichier virement</th>
                                            <th data-field="action">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for paiement in paiements %}
                                        <tr>
                                            <td></td>
                                            <td>{{ paiement.montant }} FCFA</td>
                                            <td>{{ paiement.date_paiement }}</td>
                                            <td>{{ paiement.mode_paiement }}</td> 
                                            <td>{{ paiement.reference }}</td>
                                            <td>
                                                {% if paiement.fichier_virement %}
                                                    <a href="{{ paiement.fichier_virement.url }}" target="_blank">Voir</a>
                                                {% else %}
                                                    {{ paiement.fichier_virement|default:"-" }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div class="btn-group btn-custom-groups">
                                                    <a type="button" class="btn btn-warning btn-xs" href="{% url 'modifier_paiement' paiement.id  %}"><i class="fa fa-pencil" aria-hidden="true"></i>   Modifier</a>
                                                    <a type="button" class="btn btn-danger btn-xs"  href="{% url 'supprimer_paiement' paiement.id %}"><i class="fa fa-trash" aria-hidden="true"></i>   Supprimer</a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}