{% extends 'frontoffice/base front.html' %}

{% block content %}
<div class="az-content az-content-profile">
    <div class="container mn-ht-100p">
        <div class="az-content-left az-content-left-profile"> 
            <div class="az-profile-overview">
                <div class="az-img-user">
                    {% if hospitalisation.beneficiaire %}
                        <img src="{{ hospitalisation.beneficiaire.photo.url }}" alt="Photo du beneficiaire">
                    {% else %}
                        <img src="{{ hospitalisation.mutualiste.photo.url }}" alt="Photo du mutualiste">
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between mg-b-20">
                    <div class="text-center">
                        {% if hospitalisation.beneficiaire %}
                            <h5 class="az-profile-name">{{ hospitalisation.beneficiaire.nom }} {{ hospitalisation.beneficiaire.prenom }}</h5>
                            <p class="text-muted">{{ hospitalisation.beneficiaire.age }} Ans | 
                                {% if hospitalisation.beneficiaire.sexe == "F" %} Féminin {% else %} Masculin {% endif %}
                            </p>
                        {% else %}
                            <h5 class="az-profile-name">{{ hospitalisation.mutualiste.nom }} {{ hospitalisation.mutualiste.prenom }}</h5>
                            <p class="text-muted">{{ hospitalisation.mutualiste.age }} Ans | 
                                {% if hospitalisation.mutualiste.sexe == "F" %} Féminin {% else %} Masculin {% endif %}
                            </p>
                        {% endif %}
                    </div>                    
                </div>
                <div class="az-profile-bio">
                    <p><strong>Date de prise en charge :</strong> {{ hospitalisation.date_prise_en_charge }}</p>
                    <p><strong>Durée de validité :</strong> {{ hospitalisation.duree_validite }}</p>
                </div>
                <hr class="mg-y-30">
                <div class="az-content-label mg-b-10 text-center">Statistiques des Prestations</div> 
                <div class="az-profile-social-list">
                    <ul class="list-group wd-md-100p">
                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="media-icon mg-r-15" style="color: #072C84;">
                                    <i class="fas fa-file-medical"></i>
                                </div>
                                <h6 class="tx-13 tx-inverse tx-semibold mg-b-0">Total des Prestations</h6>
                            </div>
                            <span class="d-block tx-11 text-muted text-right" style="color: #072C84;">
                                {% if hospitalisation.beneficiaire %}
                                    {{ hospitalisation.beneficiaire.statistiques_prestations.total_prestations }}
                                {% else %}
                                    {{ hospitalisation.mutualiste.statistiques_prestations.total_prestations }}
                                {% endif %}
                            </span>
                        </li>

                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="media-icon mg-r-15" style="color: #072C84;">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                                <h6 class="tx-13 tx-inverse tx-semibold mg-b-0">Montant Total</h6>
                            </div>
                            <span class="d-block tx-11 text-muted text-right" style="color: #072C84;"> 
                                {% if hospitalisation.beneficiaire %}
                                    {{ hospitalisation.beneficiaire.statistiques_prestations.montant_total }}
                                {% else %}
                                    {{ hospitalisation.mutualiste.statistiques_prestations.montant_total }}
                                {% endif %}
                            </span>
                        </li>

                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="media-icon mg-r-15" style="color: #072C84;">
                                    <i class="fas fa-hand-holding-usd"></i>
                                </div>
                                <h6 class="tx-13 tx-inverse tx-semibold mg-b-0">Part Mutuelle</h6>
                            </div>
                            <span class="d-block tx-11 text-muted text-right" style="color: #072C84;">
                                {% if hospitalisation.beneficiaire %}
                                    {{ hospitalisation.beneficiaire.statistiques_prestations.part_mutuelle }}
                                {% else %}
                                    {{ hospitalisation.mutualiste.statistiques_prestations.part_mutuelle }}
                                {% endif %}
                            </span>
                        </li>

                        <li class="list-group-item d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="media-icon mg-r-15" style="color: #072C84;">
                                    <i class="fas fa-user"></i>
                                </div>
                                <h6 class="tx-13 tx-inverse tx-semibold mg-b-0">Part Mutualiste</h6>
                            </div>
                            <span class="d-block tx-11 text-muted text-right" style="color: #072C84;">
                                {% if hospitalisation.beneficiaire %}
                                    {{ hospitalisation.beneficiaire.statistiques_prestations.part_mutualiste }}
                                {% else %}
                                    {{ hospitalisation.mutualiste.statistiques_prestations.part_mutualiste }}
                                {% endif %}
                            </span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="az-content-body az-content-body-profile"> 
            <div class="az-profile-body">
                <h2 class="az-content-title">Validation de l'hospitalisation</h2></br>
                <div class="text-right"> 
                    {% if hospitalisation.beneficiaire %}
                        <p><strong>Bénéficiaire :</strong> {{ hospitalisation.beneficiaire }}</p>
                    {% else %}
                        <p><strong>Mutualiste :</strong> {{ hospitalisation.mutualiste }}</p>
                    {% endif %}
                    
                    <p><strong>Centre de Santé :</strong> {{ hospitalisation.centre_sante }}</p>
                    <p><strong>Motif :</strong> {{ hospitalisation.motif_hospitalisation }} <strong> | Durée hospitalisation :</strong> {{ hospitalisation.duree_validite }} Jrs</p>
                </div>
                </br>
                <div class="az-content-label mg-b-5">Historique des hospitalisations du mutualiste</div>
                <table class="table mg-b-0">
                    <thead>
                        <tr>
                            <th>Date Admission</th>
                            <th>Date Sortie</th>
                            <th>Motif</th>
                            <th>Centre de Santé</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hospi in hospitalisations_precedentes %}
                        <tr>
                            <td>{{ hospi.date_admission }}</td>
                            <td>{{ hospi.date_sortie|default:"-" }}</td>
                            <td>{{ hospi.motif_hospitalisation }}</td>
                            <td>{{ hospi.centre_sante }}</td>
                            <td>{{ hospi.get_statut_prise_en_charge_display }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">Aucune hospitalisation précédente.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> </br>

                <!-- Bouton pour ouvrir le modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#validationModal">
                    Valider l'examen
                </button>

                <!-- Modal de validation -->
                <div class="modal fade" id="validationModal" tabindex="-1" role="dialog" aria-labelledby="validationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="validationModalLabel">Confirmer la validation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Êtes-vous sûr de vouloir valider/refuser cette hospitalisation ?</p>
                                <form method="post" id="validationForm">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                <button type="submit" form="validationForm" class="btn btn-primary">Confirmer</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
