{% extends 'backoffice/base back.html' %}
{% block content %}
<style>
    .photo-thumbnail {
        width: 20px;
        height: 20px;
        object-fit: cover; /* Maintient les proportions et évite les distorsions */
        border-radius: 5px; /* Optionnel, pour des coins arrondis */
    }
    .table-project-n {
        color: blue; /* Exemple de couleur */
        font-weight: bold;
    }
</style>
<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Liste des natures des <span class="table-project-n">Prestations Sociales</span> </h1>
                        </div></br>
                    </div>
                    <!-- Content Section -->
                    <div class="sparkline13-graph">
                        <div class="add-product mb-3">
                            <a href="{% url 'nature_create' %}" class="btn btn-primary btn-sm">Ajouter une Natures</a>
                        </div>
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control dt-tb">
                                    <option value="">Export Basic</option>
                                    <option value="all">Export All</option>
                                    <option value="selected">Export Selected</option>
                                </select>
                            </div>
                            <table id="table" data-toggle="table" data-pagination="true" data-search="true" 
                                   data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" 
                                   data-key-events="true" data-show-toggle="true" data-resizable="true" 
                                   data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" 
                                   data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        <th data-field="state" data-checkbox="true"></th>
                                        <th data-field="Nom" data-editable="true">Nature</th>
                                        <th data-field="Action">Montant</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for nature in natures %}
                                    <tr>
                                        <td></td>
                                        <td>{{ nature.nature }}</td>
                                        <td>{{ nature.montant }} FCFA</td>
                                        <td>
                                            <div class="btn-group btn-custom-groups">
                                                <a type="button" class="btn btn-warning btn-xs" href="{% url 'nature_update' nature.id  %}"><i class="fa fa-pencil" aria-hidden="true"></i>   Modifier</a>
                                                <a type="button" class="btn btn-danger btn-xs" href="{% url 'nature_delete' nature.id %}"><i class="fa fa-trash" aria-hidden="true"></i>   Supprimer</a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
